<ul class="contact-list">
    <link rel="stylesheet" href="/public/contacts-styles.css">
    <li>
        <a href="#">
            <div>
                <section class="image">
                    
                </section>
                <section class="data">
                    <strong>Francisco Pereira dos Santos</strong>
                    <span>(89) 99435-3697</span>
                </section>
                <section class="menu">
                    <strong>.</strong>
                    <strong>.</strong>
                    <strong>.</strong>
                </section>
            </div>
        </a>
    </li>
</ul>