<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="/public/menu-styles.css">
</head>
<body>
    <header></header>
    <main>
        <nav>
            <ul>
                <li>
                    <a href="/" class="btn">
                        Listar
                    </a>
                </li>
                <li class="hidden">
                    <a href="/create-contact" class="btn primary-green">
                        + Adicionar
                    </a>
                </li>
            </ul>
        </nav>
        <section>
            <%- include('../components/contact-form.ejs') %>
        </section>
    </main>
    <footer></footer>
</body>
</html>