<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/menu-styles.css">
</head>
<body>
    <header></header>
    <main>
        <nav>
            <input type="text" id="searchContact" onkeyup="findByName(this.value)" class="search" placeholder="Procurar contato...">
        </nav>
        <section>
            <%- include('../components/contact-list.ejs') %>
        </section>
    </main>
    <footer>
        <a href="/contacts/form" class="btn primary-green footer-button">
            + 
        </a>
    </footer>
</body>
<script src="/public/js/list.js"></script>
</html>