/**
Menu
*/

nav {
    background-color: #D96;
    padding: 1.5rem;
    border-radius: 0 0 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
}
nav ul a {
    text-decoration: none;
    color: unset;
}
.btn {
    background-color: #ccc;
    border: 2px solid #555;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: .8rem;
    font-weight: bold;
    opacity: .8;
}
.btn:hover {
    opacity: 1;
}
.primary-green {
    background-color: #5a3;
    border: .2rem solid #180;
    color: #fff;
}

.hidden {
    display: none;
}