html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-color: #ccc;
    align-items: center;
}

body > * {
    background-color: #fff;
}

body main {
    width: 500px;
    flex: 1;
}

@media screen and (max-width: 550px){
    body main {
        width: 100%;
        flex: 1;
    }
}