<form method="POST" class="contact-form" id="contact-form">
    <link rel="stylesheet" href="/public/css/contact-form-styles.css">
    <fieldset class="personal-data">
        <label for="first_name">
            <span>Nome:</span>
            <input type="text" name="first_name" id="first_name" placeholder="João">
        </label>
        <label for="last_name">
            <span>Sobrenome:</span>
            <input type="text" name="last_name" id="last_name" placeholder="Silva">
        </label>
        <label for="birth_date">
            <span>aniversário:</span>
            <input type="text" name="birth_date" id="birth_date" placeholder="21/10">
        </label>
    </fieldset>
    <fieldset class="phone-data">
        <legend>Telefones</legend>
        <label for="main_phone">
            <span>Principal:</span>
            <input type="text" name="main_phone" id="main_phone" placeholder="(89) 99458-3536">
        </label>
        <label for="other_phone">
            <span>Secundário:</span>
            <input type="text" name="other_phone" id="other_phone" placeholder="(89) 99458-3536">
        </label>
    </fieldset>
    <fieldset class="address-data">
        <legend>Endereço</legend>
        <label for="CEP">
            <span>CEP:</span>
            <input type="text" name="CEP" id="CEP" placeholder="64804430">
        </label>
        <label for="state">
            <span>Estado:</span>
            <input type="text" name="state" id="state" placeholder="Piauí">
        </label>
        <label for="city">
            <span>Cidade:</span>
            <input type="text" name="city" id="city" placeholder="Floriano">
        </label>
        <label for="district">
            <span>Bairro:</span>
            <input type="text" name="district" id="district" placeholder="Bom Lugar">
        </label>
        <label for="street">
            <span>Rua:</span>
            <input type="text" name="street" id="street" placeholder="Av. Bucar Neto">
        </label>
        <label for="number">
            <span>Número:</span>
            <input type="text" name="number" id="number" placeholder="2526">
        </label>
    </fieldset>
    <fieldset class="buttons">
        <input class="btn primary-green" onclick="submitForm('contact-form')" type="button" value="Cadastrar">
    </fieldset>
</form>