<ul class="contact-list">
    <link rel="stylesheet" href="/public/css/contacts-styles.css">
<% if(typeof contactsData === 'undefined' || contactsData.length < 1) { %>
    <li>
        <a href="/contacts/form/">
            <div>
                <section>
                    
                </section>
                <section class="data">
                    Nenhum contato cadastrado
                </section>
                <section>
                </section>
            </div>
        </a>
    </li>
<% } else { %>
    <% contactsData.forEach(contactData => { %>
    <li>
        <a href="/contacts/form/<%= contactData.id %>">
            <div>
                <section class="image">
                    
                </section>
                <section class="data">
                    <strong><%= contactData.first_name + ' ' + contactData.last_name %></strong>
                    <span><%= contactData.main_phone %></span>
                </section>
                <section class="menu">
                    <strong>.</strong>
                    <strong>.</strong>
                    <strong>.</strong>
                </section>
            </div>
        </a>
    </li>
    <% }); %>
<% } %>
</ul>